/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public/uploads
/public/css
/public/js
notes.txt
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
