@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300&display=swap');
html {
    scroll-behavior: smooth;
    height: 100vh;
    flex-direction: column;
}

body{
    font-family: 'Kanit', sans-serif;
}

main{
    min-height: calc(100vh - 100px);
}

nav#main-navbar, .dropdown-menu{
    background-color: $blue-800;
    color: #fff;
    a{
        color:#fff;
    }
    a.dropdown-item:hover{
        background-color: $primary;
    }
}

footer{
    background-color: $blue-800;
    margin-top: auto;
    a{
        color: #fff;
    }
}

a{
    text-decoration: none;
}

label.required:after{
    content: ' *';
    color: $red-300;    
}

img.question-image{
    height: 40vh;
    width: 55vh;
    border: 1px solid $gray-600;
    border-radius: 8px;
}
img.test-banner{
    height: 50vh;
    width: 65vh;
    border: 1px solid $gray-600;
    border-radius: 8px;
}

img#main-logo{
    width:20%;
    background-color: #fff;
    border-radius:8px;
    padding:1em;
}